/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}
.alert{
  margin: auto;
  max-width: 400px;
}
input {
  margin: auto;
  max-width: 400px;
}
button {
  margin: auto;
  max-width: 400px;
}
form {
  margin: auto;
  max-width: 400px;
}
